---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";

export const getStaticPaths = (async() => {
    
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151');
    const {results} = await resp.json() as PokemonListResponse;
    
    return results.map(({name , url}) => {

        return {
            params: { name },
            props: { name , url }
        };
    }); 
}) satisfies GetStaticPaths;

const {name} = Astro.params;
const { url } = Astro.props;
const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

import HeartFull from './../../assets/icons/heart-full.svg';
import HeartEmpty from '../../assets/icons/heart-outline.svg';
import { Image } from "astro:assets";
---

<MainLayout 
    title={`Pokèmons - #${id} ${name}`}
    description={`Información del Pokémon ${name}`}
    image={imgSrc}>
    <section class="flex flex-col items-center justify-center mt-10">
        <div class="flex flex-row">
            <div>
                <!-- <a href="/">Regresar</a> -->
                <button 
                    onclick="history.back()"
                    class="text-blue-500">Regresar</button>
                <Title>{name}</Title>
                
            </div>
            <button class="ml-4" id="btn-favorite">
                <Image 
                    src={HeartEmpty}
                    alt="Favorito"
                    width={40}
                    height={40}
                    loading="eager"
                    id="heart-outline"
                />
                <Image 
                    src={HeartFull}
                    alt="Favorito"
                    width={40}
                    height={40}
                    class="hidden"
                    loading="eager"
                    id="heart-full"
                />
            </button>
        </div>

        <PokemonCard name={name} url={url} isBig />
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg"/>
            tu navegador no soporta el audio
        

        </audio>
    </section>

</MainLayout>

<script define:vars={{name , id}}>

    const handleFavoriteClick = () => {
        const heartOutline = document.querySelector('#heart-outline');
        const heartFull = document.querySelector('#heart-full');
        if(!heartOutline || !heartFull) return;

        heartOutline.classList.toggle('hidden');
        heartFull.classList.toggle('hidden');

        if(heartOutline.classList.contains('hidden')){
            console.log(`Agregaste a ${name} a favoritos`);
        }else{
            console.log(`Quitaste a ${name} de favoritos`);
        }
    };

    const hadlePageLoad = () => {
        const btnFavorite = document.querySelector('#btn-favorite');
        if(!btnFavorite) return;

        // Elimina listeners previos
        btnFavorite.replaceWith(btnFavorite.cloneNode(true));
        const newBtnFavorite = document.querySelector('#btn-favorite');
        newBtnFavorite.addEventListener('click', handleFavoriteClick);
    };

    document.addEventListener('astro:page-load', hadlePageLoad);
</script>

<style>
    @reference "tailwindcss";
    a{
        @apply hover:underline text-blue-400;
    }
    #btn-favorite{
        @apply hover:animate-pulse;
    }
</style>