---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async() => {
    
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon/?limit=151');
    const {results} = await resp.json() as PokemonListResponse;
    
    return results.map(({ url, name}) => {
    const id = url.split('/').at(-2);
        return {
            params: { id },
            props: { id , url , name}
        };
    }); 
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const { url, name } = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;



---
<MainLayout title="hola">
    <section class="flex flex-col items-center justify-center mt-10">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <PokemonCard name={name} url={url} isBig />
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg"/>
            tu navegador no soporta el audio
        

        </audio>
    </section>

</MainLayout>

<style>
    @reference "tailwindcss";
    a{
        @apply hover:underline text-blue-400;
    }
</style>